<header>
    <section id="content-3-7" class="content-block content-3-7">
        <div class="container">
            <div class="col-sm-12">
                <div class="underlined-title">
                    <h1>@ViewBag.Title</h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</header>
<section id="content-3-8" class="content-3-8" style="padding : 0 0 5rem 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="row underlined-title">
                    <h1>Java</h1>
                    <hr>
                </div>
                <div class="row">
                    <pre><code>
            	impor system;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row underlined-title">
                    <h1>C#</h1>
                    <hr>
                </div>
                <div class="row">
                    <pre><code>
            	using System;</code></pre>
                </div>
            </div>
        </div>
    </div>
</section>
