
<section id="promo-3" class="content-block bg-deepocean promo-3" style="margin: ">
    <div class="container text-center">
        <h1>Tools for Developer</h1>
        <h2 class="margin-bottom5">Pyme Studio</h2>
        <a href="#" class="btn btn-outline btn-outline-xl outline-light">Empezar <span class="fa fa-play sunflower"></span></a>
    </div>
    <!-- /.container -->
</section>
<section id="content-1-3" class="content-block content-1-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="http://graphql.org/img/logo.svg" alt="Generic placeholder image" width="140" height="140">
                <h3>GraphQL</h3>
                <p>GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data. GraphQL provides a complete and understandable description of the data in your API, gives clients the power to ask for exactly what they need and nothing more.</p>
                <p><a class="btn btn-default" target="_blank" href="http://graphql.org/" role="button">View details &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="https://tesseract.patagames.com/help/icons/Help.png" alt="Generic placeholder image" width="140" height="140">
                <h3>Tesseract SDK</h3>
                <p>Tesseract es un reconocimiento óptico de caracteres motor para varios sistemas operativos. Es software libre ,liberado bajo la licencia Apache, el desarrollo ha sido patrocinado por Google desde el año 2006.</p>
                <p><a class="btn btn-default" target="_blank" href="https://tesseract.patagames.com/" role="button">View details &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="http://www.sunat.gob.pe/p/imagenes/icons/favicon.ico" alt="Generic placeholder image" width="140" height="140">
                <h3>SUNAT</h3>
                <p>La SUNAT es una Institución Pública del Peru, creada por Ley No. 24829, y aprobada por Decreto Legislativo No.501, dotada de personería jurídica de Derecho Público, patrimonio propio y autonomía administrativa, funcional, técnica y financiera.</p>
                <p><a class="btn btn-default" target="_blank" href="http://www.sunat.gob.pe/" role="button">View details &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section id="content-3-10" class="content-block-nopad content-3-10">
    <div class="image-container col-sm-6 col-xs-12 pull-left">
        <div style="text-align: center">
            <img src="~/images/graph-exec.png" alt="GrqphQL Example"/>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
                <h3>Obten exactamente lo que necesitas.</h3>
                <p>Envie una consulta GraphQL al api y obtenga exactamente lo que necesita, nada mas, ni menos.Usted ahora tiene el control de los datos que quiere recibir, no el servidor</p>
                <a href="#" class="btn btn-outline btn-outline outline-dark">Probar demo</a>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container -->
</section>
<section id="content-3-11" class="content-block-nopad content-3-11">
    <div class="image-container col-sm-6 col-xs-12 pull-right">
        <div class="background-image-holder">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 content pull-left">
                <h3>Informacion actualizada</h3>
                <p>
                    Las consultas son realizadas al portal de la SUNAT en el instante en el que usted la solicita,  obteniendo información en tiempo real.<br>
                    Usted tendra la seguridad de siempre obtener la informacion mas reciente de su cliente.
                </p>
                <a href="#" class="btn btn-outline btn-outline outline-dark">Probar demo</a>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container -->
</section>
<section id="content-3-7" class="content-block content-3-7">
    <div class="container">
        <div class="col-sm-12">
            <div class="underlined-title">
                <h1>Pymestudio .NET</h1>
                <hr>
                <h2>Empieza con nosotros. <span class="fa pomegranate fa-gears"></span></h2>
            </div>
        </div>
    </div>
</section>

