@using System.Web.Http
@using Web.Graph.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}
@section styles
{
    <link rel="stylesheet" href="~/Content/prism.css" />
}
@section scripts
{
    <script src="~/Scripts/prism.js"></script>
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page container">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                <button onclick="location.href = '@Url.Action("Index")'" class="btn btn-default">Help Page Home</button>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayForModel()
    </section>
</div>
}
