@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
@section styles
{
    <style>
        .help-page .spacer {
            padding-bottom: 5rem;
        }
        .help-page .reduced {
            padding: 60px 0 0 0;
        }
    </style>
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div class="container">
    <header class="help-page">
        <section id="content-3-7" class="content-3-7 reduced">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1>@ViewBag.Title</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div id="body" class="help-page">
        <section class="featured">
            <div class="content-wrapper">
                <h2>Introduccion</h2>
                <p>
                    Servicio de consultas empleando <a href="http://graphql.org/" target="_blank">GraphQL</a>.
                </p>
            </div>
            <div style="margin: auto; text-align: center">
                <img src="http://graphql.org/img/logo.svg" alt="GraphQL" height="100" />
            </div>
        </section>
        <section class="content-wrapper main-content clear-fix spacer">
            @foreach (var group in apiGroups)
            {
                @Html.DisplayFor(m => group, "ApiGroup")
            }
        </section>
    </div>
</div>

